name: API CI/CD

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read
  packages: write

jobs:
  api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          node-version: 24

      - name: Install
        run: npm ci

      - name: Test
        run: npm run test

      - name: Build
        run: npm run build

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        run: |
          echo ${{ secrets.GHCR_TOKEN }} | \
          docker login ghcr.io -u vietantran1215 --password-stdin

      - name: Build Image
        run: |
          docker build -t ghcr.io/vietantran1215/slp-api:${{ github.sha }} .
      
      - name: Push image
        run: |
          echo ${{ secrets.GHCR_TOKEN }} | \ docker login ghcr.io -u USERNAME --password-stdin
          docker push ghcr.io/vietantran1215/slp-api:${{ github.sha }}

      - name: Deploy (VM example)
        run: |
          ssh user@server "
            docker pull ghcr.io/vietantran1215/slp-api:${{ github.sha }} &&
            docker stop api || true &&
            docker rm api || true &&
            docker run -d --name api -p 3000:3000 ghcr.io/vietantran1215/slp-api:${{ github.sha }}
          "